<h1>All Orders for <%= @user.name %></h1>
<section class="orders">
  <% @user.orders.each do |order| %>
    <section id="order-<%= order.id %>">
      <p>Order ID: <%= link_to order.id, "/profile/orders/#{order.id}" %></p>
      <p>Order Created On: <%= format_date(order.created_at) %></p>
      <p>Order Updated On: <%= format_date(order.updated_at) %></p>
      <p>Order Status: <%= order.status %></p>
      <p>Total Quantity of Items: <%= order.total_quantity %></p>
      <p>Grand Total: <%= format_price(order.grandtotal) %></p>
    </section>
  <% end %>
</section>
