<h1>All Orders for <%= @user.name %></h1>
<section class="orders">
  <% @user.orders.each do |order| %>
    <section id="order-<%= order.id %>">
      <h3>Order ID: <%= link_to order.id, "/profile/orders/#{order.id}" %></h3>
      <p>Order Created On: <%= order.created_at %><br>
      Order Updated On: <%= order.updated_at %><br>
      Order Status: <%= order.status %><br>
      Total Quantity of Items: <%= order.total_quantity %><br>
      Grand Total: <%= order.grandtotal %></p>
    </section>
  <% end %>
</section>
