<section class="order-info">
  <h1>Order Information for Order #<%= @order.id %></h1>
  <p>Order Created On: <%= @order.created_at %><br>
  Order Updated On: <%= @order.updated_at %><br>
  Order Status: <%= @order.status_check %><br>
  Total Quantity of Items: <%= @order.total_quantity %><br>
  Grand Total: <%= format_price(@order.grandtotal) %></p>
  <% unless @order.status == "shipped" %>
    <%= button_to "Cancel Order", "/profile/orders/#{@order.id}", method: :patch %>
  <% end %>
</section>

<section class="items">
  <h2>Items In This Order:</h2>
  <% @order.item_orders.each do |item_order| %>
    <section id="item-<%= item_order.item.id %>">
      <h3><%= item_order.item.name %></h3><br/>
      <%= image_tag(item_order.item.image) %>
      <p>Item Description: <%= item_order.item.description %><br>
      Item Price: <%= format_price(item_order.item.price) %><br>
      Quantity of Item in Order: <%= item_order.quantity %><br>
      <% if item_order.discount_applied %>
        Discount Applied: <%= item_order.discount_applied %>%<br>
      <% end %>
      Order Subtotal: <%= format_price(item_order.subtotal) %></p>
    </section>
  <% end %>
</section>
