<p>Name: <%= current_user.name %></p>
<p>Street Address: <%= current_user.street_address %></p>
<p>City: <%= current_user.city %></p>
<p>State: <%= current_user.state %></p>
<p>Zip: <%= current_user.zip %></p>
<p>Email: <%= current_user.email %></p>
<p>Registered Member Since: <%= format_date(current_user.created_at) %></p>
