<h1>Merchant Dashboard</h1>

<center>
<section class="merchant-info">
  <p>Name: <%= @merchant.name %></p>
  <p>Street Address: <%= @merchant.address %></p>
  <p>City: <%= @merchant.city %></p>
  <p>State: <%= @merchant.state %></p>
  <p>Zip: <%= @merchant.zip %></p>
  <p>Registered Merchant Since: <%= format_date(@merchant.created_at) %></p>
</section>


<section class="pending-orders">
  <h3>Pending Orders</h3>
  <ul>
  <% @merchant.pending_orders.each do |order| %>
    <div class="order" id="order-<%= order.id %>">
      <li><b>Order: <%= link_to order.id, "/merchant/orders/#{order.id}" %></b><br />
      Date of order: <%= format_date(order.created_at) %><br />
      Order quantity: <%= @merchant.order_item_quantity(order) %><br />
      Order total: <%= format_price(@merchant.order_total(order)) %></li>
    </div>
  <% end %>
  </ul>
</section>
</center>
