<h1>Hello, <%= user.name %></h1>

<section class="user-profile">
  <h3>User Profile</h3>
  <%= link_to "My Orders", profile_orders_path %>
  <% if !current_admin? %>
    <%= link_to "Edit Password", profile_edit_path %>
    <%= link_to "Edit Profile Data", "/profile/edit?request=profile" %>
  <% end %>

  <p>Name: <%= user.name %></p>
  <p>Street Address: <%= user.street_address %></p>
  <p>City: <%= user.city %></p>
  <p>State: <%= user.state %></p>
  <p>Zip: <%= user.zip %></p>
  <p>Email: <%= user.email %></p>
  <p>Registered Member Since: <%= format_date(user.created_at) %></p>
</section>
