<h1 align = "center">Merchants</h1>

<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>

<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "admin-grid-item" id="merchant-<%= merchant.id %>">
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
      <h2>Account Status: <%= merchant.status %></h2>

      <% if merchant.enabled? %>
        <%= button_to('Disable', admin_merchant_path(merchant), method: :patch) %>
      <% end %>
    </section>
  <% end %>
</section>
