<h1>Merchant Dashboard</h1>


<section class="merchant-info">
  <p>Name: <%= current_user.merchant.name %></p>
  <p>Street Address: <%= current_user.merchant.address %></p>
  <p>City: <%= current_user.merchant.city %></p>
  <p>State: <%= current_user.merchant.state %></p>
  <p>Zip: <%= current_user.merchant.zip %></p>
  <p>Registered Merchant Since: <%= format_date(current_user.merchant.created_at) %></p>
</section>

<section class="pending-orders">
  <h3>Pending Orders</h3>
  <% @merchant.pending_orders.each do |order| %>
    <ul>
      <div class="order" id="order-<%= order.id %>">
        <li>Order: <%= link_to order.id, "/merchant/orders/#{order.id}" %></li>
        <li>Date of order: <%= format_date(order.created_at) %></li>
        <li>Order quantity: <%= order.total_quantity %></li>
        <li>Order total: <%= order.grandtotal %></li>
      </div>
    </ul>
  <% end %>
</section>
