<h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<h2><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></h2>

<section class = "merchant-stats">
  <h3>Merchant Stats</h3>
  <p>Number of Items: <%=@merchant.item_count%></p>
  <% if @merchant.item_count > 0 %>
    <p>Average Price of Items: <%=number_to_currency( @merchant.average_item_price)%></p>
    <section class = "distinct-cities">
      <p>Cities that order these items:</p>
      <ul>
        <% @merchant.distinct_cities.each do |city| %>
          <li><%= city %></li>
        <% end %>
      </ul>
    <% end %>
  </section>
</section>
