<h1>Order Information for Order #<%= @order.id %></h1>
<br>
<section class="order-info">
  <h2>Customer Information</h2>
  <p><%= @order.name %><br>
  <%= @order.address %><br>
  <%= @order.city %>, <%= @order.state %>, <%= @order.zip %></p>
</section>

<section class="order-items">
  <h2>All Item Details</h2>
  <% @order.merchant_items(@merchant_id).each do |item| %>
    <section id="item-<%= item.id %>">
      <h4><%= link_to "#{item.name}", "/items/#{item.id}" %></h4>
      <p><%= image_tag(item.image) %><br>
      Price per Item: <%= format_price(item.price) %><br>
      Quantity Ordered: <%= item.quantity_ordered(item.id) %></p>
      <% if item.fulfilled?(@order.id) %>
        <%= "Item already fulfilled." %>
      <% elsif item.insufficient_inventory?(@order.id) %>
        <%= "Cannot fulfill item: insufficient inventory" %>
      <% else %>
      <div class="fulfill">
        <%= button_to "Fulfill Item", "/merchant/orders/#{@order.id}?item_id=#{item.id}", method: :patch %>
      </div>
      <% end %>
    </section>
  <% end %>
</section>
